{% extends 'base.html' %}
{% block content %}
    <h1>{{title}}</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent bibendum metus pellentesque dolor sollicitudin lobortis. 
        Duis vel ex scelerisque, porttitor nisl a, euismod arcu.
        Nam sagittis lobortis lacinia. Donec faucibus nulla nec justo sodales, eu aliquet quam laoreet. Aenean blandit lectus eget felis luctus, in aliquam nulla rhoncus. Maecenas justo turpis, accumsan convallis erat non, elementum varius tellus. 
        Quisque vel elementum mi. Suspendisse vitae imperdiet leo, vel molestie ex. Vestibulum ac mattis massa. Nunc rhoncus in nunc non aliquet. Aenean fringilla enim viverra quam ullamcorper lobortis. Donec euismod placerat diam, eget dignissim tortor tempor vel.

        Aliquam pulvinar tellus quis est egestas, id pretium ipsum efficitur. 
        Praesent sagittis turpis auctor, mattis sapien et, rutrum purus. Proin eget elit lobortis, accumsan velit eu, viverra magna. Pellentesque a nunc blandit risus dapibus feugiat vitae vitae augue. Aenean luctus congue ligula in maximus. Sed ante nisl, viverra id vulputate vitae, scelerisque vel nulla. Nulla facilisi. Pellentesque ullamcorper ullamcorper semper. Aliquam aliquam ligula velit, vitae pellentesque nisl rutrum ac. Phasellus porta lacus vel odio mollis imperdiet. Donec accumsan elit nec consequat lacinia. Nam ac sem sollicitudin sem porta consectetur.


    </p>
{% endblock %}